# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
out_temperature
out_wordcount
out_temperature/
out_wordcount/
pom.xml
src/
target/
temperature.txt
